[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"

[dev-packages]
flake8 = "*"

[scripts]
start = 'flask run'
lint = 'flake8 .'

[requires]
python_version = "3.7"
