.Data-table {
    overflow-y:scroll;
    background-color: #000000;
    height: 250px;
  }

.Data-row-unselected {
    margin: 2px;
    background-color: #000000;
}

.Data-row-selected {
    margin: 2px;
    background-color: gold;
}

.Table-div {
    border: 2px solid #73AD21;
    border-color: lawngreen;
    border-radius: 5px;
    margin: 15px;
}